<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Expenses</title>
</head>
<body>
    <a href="/">Homepage</a>
    <a href="/expenses/new">Add New Expense</a>
<h1>My Expenses</h1>

<% expenses.forEach(expense=>{ %>

<p><strong>Title:</strong> <%= expense.title %></p>
<p><strong>Amount:</strong> <%= expense.amount %> BD</p>
<p><strong>Date:</strong> <%= expense.date.getFullYear() %></p>
<p><strong>Category:</strong> <%= expense.category.name %></p>
<p><strong>Payment Method:</strong> <%= expense.paymentMethod %></p>

<a href="/expenses/<%= expense._id %>">View Expense</a>

<hr>

<% }) %>

</body>
</html>